@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center; 
  background-image: url("../images/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
::selection{
  background: crimson;
  color: #fff;
}
.wrapper{
    margin-top: 40px;
    margin-bottom: 100px;
  overflow: hidden;
  max-width: 900px;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.titles{
    color: black;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background-color: crimson;
  /*background: -webkit-linear-gradient(left, #a445b2, #fa4299);*/
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 6vw;
  margin-bottom: 50px;
  font-size: 2vh;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 2vh;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: crimson;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: crimson;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background-color: crimson;
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}
form .btn input[type="submit"]{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
footer{
    background: white;
    padding: 15px 23px;
    color: black;
    text-align: center;
    width: 100%;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
.field{
    color: black;
    line-height: 5vw;
}
.form-inner form .field1{
    height: 50px;
    width: 100%;
    margin-top: 5vw;
    font-size: 2vh;
    margin-bottom: 70px;
  }
  .form-inner form .field1 input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    font-size: 2vh;
    /*border: 1px solid lightgrey;
    border-bottom-width: 2px;*/
    transition: all 0.3s ease;
  }
  .form-inner form .field1 input:focus{
    border-color: none;
    /* box-shadow: inset 0 0 3px #fb6aae; */
  }
  .form-inner form .field1 input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .field1 input:focus::placeholder{
    color: #b3b3b3;
  }
  /*myfield*/
  .field{
    color: black;
    margin-top: 500px;
}
.form-inner form .myfield{
    height: 50px;
    width: 100%;
    margin-top: 2vw;
    font-size: 2vh;
  }
  .form-inner form .myfield input{
    /*height: 100%;
    width: 100%;*/
    outline: none;
    padding-left: 15px;
    border-radius: 5px;
    /*border: 1px solid lightgrey;
    border-bottom-width: 2px;*/
    font-size: 2vh;
    transition: all 0.3s ease;
  }
  .form-inner form .myfield input:focus{
    border-color: none;
    /* box-shadow: inset 0 0 3px #fb6aae; */
  }
  .form-inner form .myfield input::placeholder{
    color: #999;
    transition: all 0.3s ease;
  }
  form .myfield input:focus::placeholder{
    color: #b3b3b3;
  }
   .scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}
.timers{
  background-color: crimson;
  border-radius: 5px;
}
.progress{
  position: relative;
  width: 300px;
  height: 1px;
  background: green;
  border-radius: 5px;
  overflow: hidden;
}
.progressfill{
  width: 0%;
  height: 100%;
  background: #000111;
  transition: all 0.5s;
}
.progresstext{
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}
